<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Suffragist</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <style>
      h1 {
         font-size: 100px;
         padding: 50px;
         background-color: mediumseagreen;
         
      }
      p {
        margin-top: 100px;
        font-size: 40px;  
      }
    </style>  
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>You cast:<mark> <%= Choices[@vote] %></mark></p>
    <p><a href='/results'>See the results!</a></p>
  </body>
</html>
