<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title><%= @title %></title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' rel='stylesheet' />
    <style>
      .container {
        font-size: 50px
      }
      li {list-style-type: none}
      
      input[type=radio] {
            border: 0;
            width: 100px;
            height: 0.6em;
      }
    </style>
  </head>
  <body class='container'>
    <p>What your favourite programming language?</p>
    <form action='action' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>GO!</button>
    </form>
  </body>
</html>
